# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyi
*.pyz
*.pyw
*.pyz/
*.pyw/
*.egg-info/
dist/
build/
*.egg
*.whl

# PyCharm
.idea/
*.iml
*.ipr
*.iws

# Virtual Environment
venv_accounting/

# Docs
docs/garantex/

# jupyter-notebooks
jupyter-notebooks/files/