# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyi
*.pyz
*.pyw
*.pyz/
*.pyw/
*.egg-info/
dist/
build/
*.egg
*.whl

# PyCharm
.idea/
*.iml
*.ipr
*.iws

# Virtual Environment
venv_accounting/

# Docs
docs/garantex/
docs/exnode/
docs/bybit/
docs/huobi/
docs/мой отчет p2p.xlsx

# jupyter-notebooks
jupyter-notebooks/files/